<!DOCTYPE html>
<html lang="en">
    <title>Todo Cortantes</title>
    <link rel="stylesheet" href="./bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script> src="./bootstrap-5.0.2-dist/js/bootstrap.bundle.js" </script>
<head> 
      <nav class="navbar navbar-inverse bg-inverse">
        <a class="navbar-brand" href="/"> 
        <img src="/todo cortantes.png" alt="Logo Todo Cortantes" width="80" height="80"></a>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar Productos" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
      </nav>
      <nav class="navbar navbar-expand-lg">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/products" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Productos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Cortantes</a></li>
                  <li><a class="dropdown-item" href="#">Toppers</a></li>
                  <li><a class="dropdown-item" href="#">Texturas</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/newsletter">Newsletter</a>
              </li>
            </ul>
      </nav>
    </div>    
</head>
</html>