#card-column-right{
    padding: 15px;
}
.card-envio{
    box-shadow: -2px 3px 7px 3px rgb(0 0 0 / 4%);
}
.card-shadow{
    box-shadow: -2px 3px 7px 3px rgb(0 0 0 / 4%);
}
#envio{
    width:250px;
}
#precio{
    width: 75px;
}
.text-c-primary{
    color: rgb(255, 32, 32)
}
.text-c-secundary{
    color: rgb(253, 116, 116);
}
a.icons-social:hover{
    color: rgb(255, 32, 32)
}